body {
  background-color: white;
  display: flex;
  flex-direction: column;
}

#show-choices {
  color: black;
  font-size: 50px;
  border: 2px solid darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  height: 60vh;
}

#player-selection,
#computer-selection {
  background-color: darkgrey;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
}

#player-choice {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.rock,
.paper,
.scissor {
  height: 150px;
  width: 150px;
  border: 2px solid darkgrey;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  background-color: white;
}
